.filter-bar-mobile-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    font-size: 16px;
}

.refine-search-facet .active {
    border-color: #15A449 !important;
    color: #15A449;
}

.filter-bar-mobile-button {
    display: block;
}

.open-modal-button {
    cursor: pointer;
    color: #0E8136;
    background-color: transparent;
    padding: 6px 12px 6px;
    border-radius: 24px;
    border: 1px solid transparent;
    margin: 16px 8px 16px 0;
    display: none;
}

.option-button {
    cursor: pointer;
    background-color: #fff;
    padding: 6px 12px 6px;
    border-radius: 24px;
    border: 1px solid #ccc;
    margin: 16px 8px 16px 0;
}

.filter-bar-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.refine-search-facet {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    margin-top: 16px;
}
.refine-search-facet .option-button {
    cursor: pointer;
    background-color: #fff;
    padding: 6px 12px 6px;
    border-radius: 24px;
    border: 1px solid #ccc;
    margin: 16px 8px 16px 0;
}

.refine-search-facet .option-button:hover {
    background-color: #ccc;
}

.close-modal-button, .clear-modal-button{
    cursor: pointer;
    background-color: #fff;
    padding: 6px 12px 6px;
    border-radius: 24px;
    border: 1px solid #ccc;
    align-items: center;
    display: flex;
}

.close-modal-button {
    border: 1px solid transparent;
}

.close-modal-button:hover, .clear-modal-button:hover{
    background-color: #ccc;
}

.find-button {
    background-color: #0E8136;
    color: #fff;
    width: 90%;
    margin: 16px 12px 0px 12px;
    padding: 12px 0px;
    border: 1px solid #0E8136;
    border-radius: 12px;
}
.find-button:hover {
    background-color: #15A449;
}

.clicked {
    color: #15A449;
    border-color: #15A449 !important;
    /* Add other styles here to change the appearance of the button */
}

@media (max-width: 990px) {
    .filter-bar-mobile-modal {
        display: block;
    }
    .open-modal-button {
        display: flex;
        align-items: center;
        font-size: 15px;
    }
    .filter-bar-mobile-button{
        display: flex;
    }
    .filter-icon {
        margin-right: 4px;
    }
}