#email-alert-management-page {
  margin-top: 0px;
  min-height: 50vh;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-container.-width-md {
  margin: 0 auto;
  max-width: 550px;
}

.content-container.-margin-y-md {
  margin-bottom: 9.6rem;
  margin-top: 6.4rem;
  min-height: 24vh;
}

/* headler */
.heading-large {
  font-size: 1.82rem;
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: 1.6rem;
}
.new_email_alert {
  margin-bottom: 1.6rem;
  width: 100%;
}
.email-alert-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1.6rem;
  width: 100%;
}
label {
  display: block;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 1.6rem;
}
input.email-alert {
  font-size: 1.6rem;
  height: 4.8rem;
  padding: 0 1.6rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  background-color: rgba(0, 0, 0, 0);
}
input.email-alert:focus {
  box-shadow: none;
  border-color: #0e8136;
}

select.email-alert {
  font-size: 1.6rem;
  height: 4.8rem;
  padding: 0 1.6rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  background-color: rgba(0, 0, 0, 0);
}
select.email-alert:focus {
  box-shadow: none;
  border-color: #0e8136;
}
button.email-alert {
  font-size: 1.6rem;
  font-weight: 500;
  height: 4.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-bottom: 1.6rem;
  border-radius: 4px;
  border: 1px solid #0e8136;
}
button.email-alert:hover {
  border-color: #0e8136;
  opacity: 80%;
}
button.email-alert:active {
  border-color: #0e8136;
  opacity: 70%;
}
button.email-alert.primary {
  background-color: #0e8136;
  color: white;
}
button.email-alert.primary:active {
  background-color: #0e8136;
  border-color: #0e8136;
  color: white;
}

button.email-alert.secondary {
  background-color: white;
  color: #0e8136;
}
button.email-alert.secondary:active {
  background-color: white;
  color: #0e8136;
  border-color: #0e8136;
  opacity: 70%;
}

#email-alert-management-page .privacy-statement {
  margin: 0 0 2.4rem 0;
  text-align: start;
}
.heading-xxsmall {
  font-size: 1.12rem;
}
.privacy-statement a {
  color: #0e8136;
}

.heading-medium {
  font-size: 1.68rem;
  font-weight: 700;
}
.-with-margin {
  margin: 1.6rem 0;
  display: block;
  width: 100%;
}
.content-container .cancel-form-container {
  width: 100%;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}
.content-container .frequency_message {
  width: 100%;
}
form.new-cancel-reason {
  width: 100%;
}
ul.reason-list {
  list-style-type: none;
  padding-left: 0px;
}
li.reason {
  display: flex;
  flex-direction: column;
  justify-items: center;
  line-height: 2.6rem;
  margin-left: 0px;
}
.reason .basic-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.reason .expand-info {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.reason input {
  display: inline;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  margin-bottom: 1.6rem;
}
.reason label {
  display: inline;
  font-size: 1.4rem;
  padding: 0.4rem 0.4rem;
  font-weight: normal;
}
textarea.email-alert {
  font-size: 1.4rem;
  height: 12rem;
  padding: 1.6rem;
  width: 100%;
  min-height: 12rem;
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  background-color: rgba(0, 0, 0, 0);
}
textarea.email-alert:focus {
  box-shadow: none;
  border-color: #0e8136;
}
label.expand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
input[type="radio"] {
  height: 1.6rem;
  width: 1.6rem;
  margin: 0px;
  margin-bottom: 0.6rem;
  padding: 0px;
}
.expand input[type="checkbox"] {
  height: 1.6rem;
  width: 1.6rem;
  margin: 0px;
  padding: 0px;
}
#email-alert-management-page a {
  text-decoration: none;
  color: #0e8136;
}

#email-alert-management-page a:hover {
  text-decoration: underline;
}
