.contSetting{
    text-align: left;
    margin-bottom: 100px;
    font-size: 16px;
}

.titleSetting{
    font-weight: bold;
    font-size: 18px;
    margin-top: 1em;
}

.btnSetting{
    color: white;
    font-weight: 500;
    background-color: #0e8136;
    padding: 12px 4em;
    border: none;
    border-radius: 4px;
    margin-bottom: 2em;
    font-size: 16px;
}