.nav-link a {
  color: #1c1c1c;
  text-underline-offset: none;
}
.search-form.-desktop-only {
  padding-top: 1.6rem;
  margin-bottom: 3.2rem;
  width: 72.5%;
  display: none;

  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}
.search-hearder {
  background: #fafafa;
  width: screen;
  box-shadow:
    0 4px 2px -2px rgba(128, 128, 128, 0.1),
    0 8px 2px -2px rgba(128, 128, 128, 0.06),
    0 12px 2px -2px rgba(128, 128, 128, 0.02);
}
.search-hearder-container {
  max-width: 1300px;
  margin: 0 auto 3.2rem;
  padding: 1.6rem 1.6rem 0;
  @media only screen and (max-width: 1280px) {
    padding: 1.6rem 0 0 0;
  }
}
